body {
      background-color: lightblue;
}

a, a:visited {
 text-decoration: none;
 font-weight: bold;
 color: #013a63;
}

.resp {
 font-weight: bold;
 margin-left: 20px;
}
li {
 margin-top: 10px;
}
.top {
  overflow: hidden;
  background-color: #333;
  width: 100%
}

.top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.top a.ri {
  float:right;
}
.top a:hover {
  background-color: #FDDA16;
  color: black;
}
.gh {
  overflow: hidden;
  background-color: #fff;
  opacity: 80%;
  width: 100%;
  font-size: 0.8em;
  padding: 0; 
}
.gh a {
 padding-left: 20px;
}

.gh .last {
 font-style: italic;
 text-align: center;
 font-weight: normal;
}

.letter {
 width: 90%;
 border: 1px solid grey;
 background-color: white;
 margin-left: 5%;
 padding: 20px;
}

.caption {
 margin-left: 7%;
 font-style: italic;
 font-size: 0.8em;
}
.capmin {
 font-style: italic;
 font-size: 0.8em;
}

.right {
  width: 250px;
  float: right;
  position:absolute; 
  right:0;
  padding: 10px;
}

.left {
   float: left;
   margin-right: 265px;
}

img {
  padding-top: 20px;
}

.gal {
 column-width: 210px;
}

.backtop, .backtop a, .backtop a:visited {
 text-decoration: none;
 margin-left: 10px;
 font-size: 0.9em;
 padding-bottom: 10px;
 color: #000;
 font-family: courier;
}

.header {
  position: fixed;
  top: 80;
  color: red;
  z-index: -99;
  font-size: 5em;
  opacity: 40%;
  text-align: center;
  width: 100%;
}
